<h1>Blogposts#add</h1>
<p>※ブログの記事の投稿</p>
<% if @blogpost.errors.any? %>
<ul>
  <% @blogpost.errors.full_messages.each do |err| %>
  <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<table>
  <%= form_for(@blogpost, url:{controller:'blogposts', action:'add'}) do |form| %>
  <tr><th>Title</th>
    <td><%= form.text_field :title %></td></tr>
    <tr><th>Read</th>
      <td><%= form.text_field :read %></td></tr>
      <tr><th>Content</th>
        <td><%= form.text_area :content, {cols:40, rows:10} %></td></tr>
        <tr><th>Genre ID</th>
          <td><%= form.text_field :bloggenre_id %></td></tr>
          <tr><th></th>
            <td><%= form.submit "送信" %></td></tr>
            <% end %>
          </table>
          <hr>
          <p>※ジャンルの一覧</p>
          <table>
            <tr>
              <th>Id</th><th>Genre</th></tr>
            <tr>
            <% @genres.each do |obj| %>
            <td><%= obj.id %></td>
            <td><%= obj.name %></td>
          </tr>
          <% end %>
        </table>
