%h1 Blogposts#add
%p ※ブログの記事の投稿
- if @blogpost.errors.any?
  %ul
    - @blogpost.errors.full_messages.each do |err|
      %li= err
%table
  = form_for(@blogpost, url:{controller:'blogposts', action:'add'}) do |form|
    %tr
      %th Title
      %td= form.text_field :title
    %tr
      %th Read
      %td= form.text_field :read
    %tr
      %th Content
      %td= form.text_area :content, {cols:40, rows:10}
    %tr
      %th Genre ID
      %td= form.text_field :bloggenre_id
    %tr
      %th
      %td= form.submit "送信"
%hr/
%p ※ジャンルの一覧
%table
  %tr
    %th Id
    %th Genre
  %tr
    - @genres.each do |obj|
      %td= obj.id
      %td= obj.name
