<h1>Messages#index</h1>
<p><%= @msg %></p>
<table>
  <tr>
  <th>Id</th><th>title</th><th>person</th><th colspan="2"></th>
</tr>
<% @data.each do |obj| %>
<tr>
  <td><%= obj.id %></td>
  <td><a href="/messages/<%= obj.id %>"><%= obj.title %></td>
    <td><%= obj.person.name %></td>
    <td><a href="/message/edit/<%= obj.id %>">Edit</td>
      <td><a href="javascript:delData(<% obj.id %>);">Delete</td>
      </tr>
      <% end %>
    </table>
    <script>
    function delData(num){
      if(confirm('このデータを削除しますか')){
        document.location="/messages/delete/" + num;
      }
      return false;
    }
    </script>
