%h1 People#Add
%p= @msg
- if @person.errors.any?
  %ul
    - @person.errors.full_messages.each do |err|
      %li= err
%table
  = form_for(@person, url:{controller:'people', action:'create'}) do |form|
    %tr
      %th Name
      %td= form.text_field :name
    %tr
      %th Age
      %td= form.text_field :age
    %tr
      %th Mail
      %td= form.text_field :mail
    %tr
      %th= form.label :skill_list, "スキル・特技（カンマ区切り）"
      %td= text_field_tag 'person[skill_list]', @person.skill_list.join(',')

    %tr
      %th= form.label :interest_list, "興味・関心（カンマ区切り）"
      %td= text_field_tag 'person[interest_list]', @person.interest_list.join(',')
    %th
      %td= form.submit "送信"
