<h1>People#Edit</h1>
<p><%= @msg %></p>
<table>
  <%= form_for(@person, url:{controller:'people', action:'update', id:@person.id}) do |form| %>
  <tr><th>Name</th>
    <td><%= form.text_field :name %></td></tr>
    <tr><th>Age</th>
      <td><%= form.text_field :age %></td></tr>
      <tr><th>Mail</th>
        <td><%= form.text_field :mail %></td></tr>
        <tr><th></th>
          <td><%= form.submit "送信" %></td></tr>
          <% end %>
        </table>
