<h1>People#index</h1>
<p><%= @msg %></p>
<table>
    <tr>
      <th>Id</th><th>Name</th><th colspan="2"></th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
      <td><%= obj.id %></td>
      <td><a href="/people/<%=obj.id %>"><%= obj.name %></a></td>
      <td><a href ="/people/edit/<%= obj.id %>">Edit</a></td>
      <td><a href = "javascript:delData(<%= obj.id %>);">Delete</a></td>
    </tr>
    <% end %>
  </table>
<script>
function delData(num){
  if(confirm('このデータを削除しますか')){
    document.location="/people/delete/" + num;
  }
  return false;
}
</script>
