%h1 People#index
%p= @msg
%table
  %tr
    %th Id
    %td= @data.id
  %tr
    %th Name
    %td= @data.name
  %tr
    %th Age
    %td= @data.age
  %tr
    %th Mail
    %td= @data.mail
  %tr
    %th Message
    %td
      - if @data.message != nil then
        - @data.message.each do |obj|
          = '「' + obj.title + '」'
  %tr
    %th スキル
    -# %td= @data.skill_list

    %td= render 'people/tag_list', tag_list: @data.skill_list
    %td= render 'people/related_people', people: @data.find_related_skills
  %tr
    %th 興味
    -# %td= @data.interest_list
    %td= render 'people/tag_list', tag_list: @data.interest_list
