<h1>Bloggenres#add</h1>
<p>※ジャンル・データの一覧</p>
<% if @bloggenre.errors.any? %>
<ul>
  <% @bloggenre.errors.full_messages.each do |err| %>
  <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<table>
  <%= form_for(@bloggenre, url:{controller:'bloggenres', action:'add'}) do |form| %>
  <tr><th>name</th>
    <td><%= form.text_field :name %></td></tr>
    <tr><th>memo</th>
      <td><%= form.text_field :memo %></td></tr>
      <tr><th></th>
        <td><%= form.submit "送信" %> </td></tr>
      <% end %>

</table>
