<h1>Cards#add</h1>
<p>登録する読書データを入力してください</p>
<table>
  <%= form_for(@card, url:{controller:'cards', action:'add'}) do |form| %>
  <tr><th>タイトル</th>
    <td><%= form.text_field :title, {size:40} %></td></tr>
    <tr><th>著者</th>
      <td><%= form.text_field :author, {size:40} %></td></tr>
      <tr><th>価格</th>
        <td><%= form.number_field :price, {size:10} %></td></tr>
      <tr><th>出版社</th>
        <td><%=form.text_field :publisher, {size:40} %></td></tr>
      <tr><th>コメント</th>
        <td><%= form.text_area :memo, {cols:40, rows:10} %></td></tr>
        <tr><th></th>
          <td><%=form.submit "保存" %></td></tr>
<% end %>
        </table>
<p class="link"><a href="/cards">&lt;&lt; トップページに戻る</a></p>
