<h1>Cards#index</h1>
<p>現在登録されているデータの一覧です</p>
<table width="100%">
  <tr>
    <th>ID</th><th>題名</th>
    <th>著者</th><th colspan="2"></th>
  </tr>
  <% @cards.each do |obj| %>
  <tr>
    <td width="35px"><%= obj.id %></td>
    <td width="50%"><a href="/cards/<%= obj.id %>"><%= obj.title %></a></td>
    <td><%= obj.author %></td>
    <td width="40px"><a href="/cards/edit/<%= obj.id %>">編集</a></td>
    <td width="40px"><a href="javascript:window.delData(<%=(obj.id.to_s+",'".to_s+obj.title.to_s).html_safe %>');">削除</a></td>
  </tr>
  <%end%>
</table>
<p class="link"><a href="/cards/add">新しいデータを入力 &gt;&gt;</a></p>
