<h1>Cards#show</h1>
<p>「<%= @card.title %>」の読書データ</p>
<table>
  <tr><th width="100px">Id</th>
    <td><%= @card.id %></td></tr>
    <tr><th>タイトル</th>
      <td><%= @card.title %></td></tr>
      <tr><th>著者</th>
        <td><%= @card.author %></td></tr>
        <tr><th>価格</th>
          <td><%= @card.price %>円</td></tr>
          <tr><th>出版社</th>
            <td><%= @card.publisher %></td></tr>
            <tr><th>コメント</th>
              <td><%= @card.memo %></td></tr>
            </table>
            <p class="link"><a href="/cards">&lt;&lt; トップページに戻る</a></p>
