%h1 Cards#show
%p
  「#{@card.title}」の読書データ
%table
  %tr
    %th{:width => "100px"} Id
    %td= @card.id
  %tr
    %th タイトル
    %td= @card.title
  %tr
    %th 著者
    %td= @card.author
  %tr
    %th 価格
    %td
      = @card.price
      円
  %tr
    %th 出版社
    %td= @card.publisher
  %tr
    %th コメント
    %td= @card.memo
%p.link
  %a{:href => "/cards"} &lt;&lt; トップページに戻る
