!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all','data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track':'reload'
  %body
    = render template:'layouts/hello_header'
    = yield
    %div
    %hr{:color => "#aaa", :size => "1"}/
    = render template:'layouts/hello_footer'
